.product {
  border-bottom: 2px solid blue;
  margin-bottom: 20px;
}

img {
  max-width: 300px;
  height: auto;
  display: block;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 10;
}

.hidden {
  display: none;
}

.check-out {
  border: 2px solid black;

  li {
    list-style: none;
  }

  .cart-info, .checkout-products {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr; 
    border-bottom: 2px solid black;
  }
}

.timeout-message {
  display: none; 
  color: red;
}